<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.DwdTourTouristNumberHDao">
	<!-- com.hqt1af.entity.manage.DwdTourTouristNumberH -->
 	<resultMap id="base" type="DwdTourTouristNumberH" >
	     <result column="code" property="code" jdbcType="CHAR"/>
	     <result column="number" property="number" jdbcType="INTEGER"/>
	     <result column="g_number" property="gNumber" jdbcType="CHAR"/>
	     <result column="date_time" property="dateTime" jdbcType="CHAR"/>
	     <result column="hour" property="hour" jdbcType="INTEGER"/>
	     <result column="createdate" property="createdate" jdbcType="TIMESTAMP"/>
 	</resultMap>
 	
 	<!-- 查看详情 -->
 	<select id="find"  resultMap="base" parameterType="DwdTourTouristNumberH">
       SELECT t.* FROM dwd_tour_tourist_number_h t WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
    </select>
 	
 	<!-- 列表查询 -->
 	<select id="findByPage"  resultMap="base" parameterType="DwdTourTouristNumberH">
       SELECT t.* FROM dwd_tour_tourist_number_h t WHERE 1=1 
       <if test="param.status!= null">
        AND t.status=#{param.status}
       </if>
       <if test="param.keyWord!=null and param.keyWord!='' ">
       AND (t.name LIKE CONCAT('%',#{param.keyWord},'%'))
       </if>
        ORDER BY t.create_time desc
    </select>
    
 	<!-- 记录数 -->
    <select id="count"  resultType="int" parameterType="DwdTourTouristNumberH">
       SELECT count(*) FROM dwd_tour_tourist_number_h t WHERE 1=1 
    </select>  
    
    <!-- 添加 -->      
 	<insert id="insert" parameterType="DwdTourTouristNumberH">	
 	<![CDATA[
	INSERT INTO dwd_tour_tourist_number_h(
	code ,number ,date_time ,hour ,createdate 
	) VALUES (
	#{code}, #{number}, #{dateTime}, #{hour}, #{createdate} 
	)
	]]>  
	</insert>
	
	<!-- 批量添加 -->      
 	<insert id="insertBatch" parameterType="java.util.List">	
	INSERT INTO dwd_tour_tourist_number_h(
	code ,number ,date_time ,hour ,createdate 
	) VALUES 
	<foreach item="o" collection="list"  separator="," >
	(#{o.code}, #{o.number}, #{o.dateTime}, #{o.hour}, #{o.createdate} )
	</foreach>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="DwdTourTouristNumberH">
		UPDATE dwd_tour_tourist_number_h 
		SET
          code = #{code},
          number = #{number},
          date_time = #{dateTime},
          hour = #{hour},
          createdate = #{createdate}
		WHERE id=#{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="DwdTourTouristNumberH">
	DELETE FROM dwd_tour_tourist_number_h  
	WHERE id=#{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType ="java.util.List">
	DELETE FROM dwd_tour_tourist_number_h WHERE id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
#{o.id}		</foreach>
		)
	</delete>
	
	<select id="findBySql" parameterType="string" resultMap="base">${sql}</select>

    <select id="updateBySql" parameterType="string" resultType="java.lang.Integer">${sql}</select>
    
    <select id="findObjBySql" parameterType="string" resultType="java.lang.Object">${sql}</select>
</mapper>